<?xml version="1.0"?>
<Settings>
  <Preferences>
    <PackagesListFile>packages.config</PackagesListFile>
    <SaveFolderName>.config\chocolatey</SaveFolderName>
    <SaveTitleSummary>false</SaveTitleSummary>
    <SaveVersions>false</SaveVersions>
    <AppendDate>false</AppendDate>
    <CustomPath>"{{ .chezmoi.homedir }}"</CustomPath>
    <UseCustomPath>true</UseCustomPath>
    <UseDocuments>false</UseDocuments>
    <UseHomeShare>false</UseHomeShare>
    <UseBox>false</UseBox>
    <UseDropbox>false</UseDropbox>
    <UseGoogleDrive>false</UseGoogleDrive>
    <UseiCloudDrive>false</UseiCloudDrive>
    <UseNextcloud>false</UseNextcloud>
    <UseOneDrive>false</UseOneDrive>
    <UseownCloud>false</UseownCloud>
    <UseReadyCLOUD>false</UseReadyCLOUD>
    <UseResilioSync>false</UseResilioSync>
    <UseSeafile>false</UseSeafile>
    <UseTonidoSync>false</UseTonidoSync>
    <SaveAllProgramsList>true</SaveAllProgramsList>
    <AllProgramsListFile>AllProgramsList.txt</AllProgramsListFile>
    <DefaultUserProfile>"{{ .os_username }}"</DefaultUserProfile>
    <UseDefaultUserProfile>true</UseDefaultUserProfile>
    <CustomPath2></CustomPath2>
    <UseCustomPath2>false</UseCustomPath2>
    <SaveArguments>false</SaveArguments>
    <PreProcessScript>false</PreProcessScript>
    <PostProcessScript>false</PostProcessScript>
  </Preferences>
</Settings>
<!--
# ~/.config/chocolatey-tools/choco-package-list-backup.config
# ============================================================================
# Choco-package-list-backup chocolatey package
# for saving installed package information configuration.
#
# On Windows, this file will be linked over to
# `$Env:ChocolateyToolsLocation\BCURRAN3\choco-package-list-backup.config`
# after `chezmoi apply` by the script `../run_after_link-external.ps1.tmpl`.
# {{- /* This file supports Go's text/template language. */}}
-->
<!--
choco-package-list-backup.config preferences notes:

AppendDate            - Change to true if you want to keep snapshot in time copies.
SaveFolderName        - Change the folder name if you don't like my default, do NOT use quotes.
SaveTitleSummary      - Change to true if you want to save package title and summary info.
SaveVersions          - Change to true if you want to save pacakge version info.
CustomPath            - Edit to save to a special location of your choice, do NOT use quotes.
UseCustomPath         - Change to true if you are using CustomPath.
UseXxxxxxxxx          - Should be obvious.
SaveAllProgramsList   - Save a list of all installed Windows programs (by Chocolatey or not) true/false.
AllProgramsListFile   - Filename to save the list of All installed Windows.
DefaultUserProfile    - Default user profile to use when running as SYSTEM (task); e.g. William, Robert, Benjamin (HINT: Look at C:\Users)
UseDefaultUserProfile - Change to true if you are want to use DefaultUserProfile
-->
