# ~/.local/share/chezmoi/.chezmoi.toml.tmpl
# ============================================================================
# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`
# See https://www.chezmoi.io/docs/how-to/
#

encryption = "age"
progress = true
verbose = true
[age]
    identity = "~/.config/sops/age/key.txt"
    recipient = "age16e2rge5dpwvnpctdk7jg8ng0al49mrgeemzc8tsne8paag9xuelqtu0k46"

[completion]
    custom = true

[diff]
    args = ["--diff"]
    command = "code"


[git]
    autoAdd = false
    autoCommit = false
    autoPush = false

[interpreters.ps1]
    command = "pwsh"
    args = ["-File"]

[merge]
    args = ["--merge"]
    command = "code"

[template]
    options = ["missingkey=error"]

[data]
{{/* Setup Vars for the various systems, edit before chezmoi init */}}
{{- if eq .chezmoi.os  "windows"}}
{{- $choco_tools := joinPath `C:\` `tools` }}
    # Windows related Data
    choco_tools = "{{ $choco_tools  }}"
{{ end -}}
