# ------------------------------------------------------------------------------
#                Decrypt age private key if it doesn't exist
# ------------------------------------------------------------------------------
Write-Output "Decrypting Age key..."
if (-not (Test-Path -Path "{{ .age_key_file_destination }}")) {
    age --decrypt --output "{{ .age_key_file_destination }}" "{{ .age_key_file_origin}}"
    Write-Output "...Decrypted age key.txt"
} else {
    Write-Output "...Age key already exists. Skipping decryption."
}
